/GIS/nhdplus_vaa.parquet
/GIS/*.lock
/GIS/.ipynb_checkpoints/
/GIS/DEM/
*.ipynb

/versions/website_info/.ipynb_checkpoints/
/versions/sfrpt1/
/versions/sfrpt01/
/versions/sfrpt02/
/versions/sfrpt04/
/versions/sfrpt07/
/versions/ghbpt1_init/
/versions/ghbpt01/
/versions/ghbpt001/
/.ipynb_checkpoints/
/temp/
